.backButton {
  padding: 10px 20px;
  background-color: #ffffff;
  color: black;
  border: solid #3543dc;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 2px 4px rgba(50, 40, 237, 0.2);
  margin: 10px 5px;
}

:global(.dark) .backButton {
  background-color: #1a1a1a;
  color: #eee;
  border-color: #2f2f2f;
}

.backButton:hover {
  background-color: #3543dc;
  color: white;
}

:global(.dark) .backButton:hover {
  background-color: #252525;
}

.triggerArea {
  display: flex;

  margin-top: 16px;
  width: 100%;
}
