.deductionSumList {
  display: block;

  justify-items: center;
  gap: 20px;

  padding: 0 0;
}

.classList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  padding: 0 16px;
}

.gradeTitle {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .deductionSumList {
    display: block;

    justify-items: center;
    gap: 20px;

    padding: 0 0;
  }
  .classList {
    grid-template-columns: repeat(2, 1fr);
  }
}
